<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestXiangying.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BFF60371FA0336A00026BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFF604F1FA0336B00026BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFF605A1FA0336B00026BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
